.reviewsButton {
    padding: 10px 30px;
    background-color: rgb(133, 130, 126);
    color: white;
    margin: 15px;
    border: none;
    border-radius: 3px;
    font-family: inherit;
}

.reviewsButton:active,
.reviewsButton:focus {
    background-color: rgb(218, 134, 24);
    color: black;
}

.reviewsTitle {
    font-size: 30px;
    font-weight: 400;
}

.reviewsDesc {
    font-weight: 500;
    padding: 1px 25px;
    margin-bottom: 5px;
}

.reviewsSeparator {
    border: 1px hsla(0, 0%, 86%, 0.58) solid;
    width: 90%;
}

.reviewExample {
    background-color: hsla(51, 8%, 82%, 0.477);
    padding: 10px 25px;
    margin: 20px;
    border-radius: 10px;
    font-weight: 500;
}
