.heroHeadline {
  margin: 0;
  padding: 0;
}
.heroDescription {
  background-color: #f1911b;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
}
.consultationParagraph {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.numberSpan {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.link:visited {
  color: #000;
}

@media (min-width: 1024px) {
  .heroDescription {
    height: 150px;
    width: 300px;
    padding: 20px;
  }
  .consultationParagraph {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
