.headerContainer {
  padding-left: 10px;
  font-size: 16px;
}

.title {
  margin: 0;
}

@media (min-width: 1024px) {
  .headerContainer {
    width: 70%;
  }
}

/* button {
  background-image:url(public\menu-open-button.png);
} */

.show {
  display: block;
}

.hide {
  display: none;
}