.headerContainer {
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.title {
  margin: 0;
}

@media (min-width: 1024px) {
  .headerContainer {
    width: 70%;
  }
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  justify-content: center; /* Center items vertically */
  position: absolute;
  top: 45px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f1911b; /* Ensure the background covers the entire viewport */
  z-index: 1000; /* Ensure the menu is on top of other elements */
}

.hide {
  display: none;
}

.menu {
  background: none;
  border: none;
}

.linkStyle {
  list-style-type: none;
}


.links {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.links:hover {
  text-decoration: underline;
}